# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
.env
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# Logs
*.log

# Migrations cache
src/db/migrations/__pycache__/

# OS files
.DS_Store
Thumbs.db
